@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-div{
    background-color: #7a685f;
background-image: linear-gradient(62deg, #7a685f 0%, #dfa412 100%);

} */
.main-div{
    
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    

}
.character-div{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #0b0113 100%);
    

    
}
.spell-div{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.movie-div{
    
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: flex;
    margin-top: 150px;
    margin-left: 400px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.modal-bg{
    background-color: rgba(189, 189, 189, 0.9);
}